ul, ol,
p,  h1,
h2, h3,
h4, h5,
html,
body,
input{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper{
  padding-top: 5rem;
  margin: auto;
  width: 600px;
}
.mainTitle{
  margin-bottom: 2rem;
}

.center,
.wrapper-center{
  display: flex;
}

.center{
  display: flex;
}