ul,
ol,
p,
h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body{
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper{
  padding-top: 5rem;
  margin: auto;
  width: 600px;
}